In [146]:
import pandas as pd

In [147]:
data = pd.read_csv('/content/noshowappointments.csv')
df = data.copy()
df.sample(5)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
108084,3.388363e+13,5729498,F,2016-05-24T07:34:22Z,2016-06-03T00:00:00Z,45,ANDORINHAS,0,0,0,0,0,1,No
56581,7.642137e+13,5674329,F,2016-05-09T10:50:53Z,2016-05-17T00:00:00Z,23,DA PENHA,1,0,0,0,0,0,Yes
66630,6.721996e+13,5645860,F,2016-05-02T10:29:42Z,2016-05-02T00:00:00Z,38,JARDIM CAMBURI,0,0,0,0,0,0,No
53734,4.678419e+13,5726712,M,2016-05-20T14:10:56Z,2016-05-20T00:00:00Z,15,MARUÍPE,0,0,0,0,0,0,No
3305,2.889275e+14,5744589,M,2016-05-30T10:29:02Z,2016-05-30T00:00:00Z,0,MARIA ORTIZ,0,0,0,0,0,0,No

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [149]:
df.PatientId = df.PatientId.astype('int64')
df.PatientId.dtypes

dtype('int64')

In [150]:
df.AppointmentID.nunique()

110527

In [151]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [152]:
df.ScheduledDay = pd.to_datetime(df.ScheduledDay).dt.date.astype('datetime64[ns]')
df.ScheduledDay.dtype

dtype('<M8[ns]')

In [153]:
df.AppointmentDay = df.AppointmentDay.astype('datetime64[ns]')
df.AppointmentDay.dtype

dtype('<M8[ns]')

In [154]:
df.Age.min()

-1

In [155]:
df.query('Age < 0')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99832,465943158731293,5775010,F,2016-06-06,2016-06-06,-1,ROMÃO,0,0,0,0,0,0,No

In [156]:
df.query('Age == 0')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
59,71844284745331,5638545,F,2016-04-29,2016-04-29,0,CONQUISTA,0,0,0,0,0,0,No
63,236623344873175,5628286,M,2016-04-27,2016-04-29,0,SÃO BENEDITO,0,0,0,0,0,0,No
64,188517384712787,5616082,M,2016-04-25,2016-04-29,0,ILHA DAS CAIEIRAS,0,0,0,0,0,1,No
65,271881817799985,5628321,M,2016-04-27,2016-04-29,0,CONQUISTA,0,0,0,0,0,0,No
67,86471282513499,5639264,F,2016-04-29,2016-04-29,0,NOVA PALESTINA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110345,147395196662956,5702537,F,2016-05-16,2016-06-01,0,RESISTÊNCIA,0,0,0,0,0,0,No
110346,5577525313231,5777724,M,2016-06-06,2016-06-08,0,RESISTÊNCIA,0,0,0,0,0,0,No
110454,614245995575,5772400,F,2016-06-03,2016-06-03,0,RESISTÊNCIA,0,0,0,0,0,0,No
110460,43218463343323,5769545,F,2016-06-03,2016-06-03,0,RESISTÊNCIA,0,0,0,0,0,0,No
110507,476946211846992,5786918,F,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,No

In [157]:
df.query('Age == 0 & Alcoholism	 == 1')

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

In [158]:
df.drop(df[df.Age < 0].index,inplace=True)
df.Age.min()

0

In [159]:
df.Age.max()

115

In [160]:
df.Scholarship.unique()

array([0, 1])

In [161]:
df.Hipertension.unique()

array([1, 0])

In [162]:
df.Diabetes.unique()

array([0, 1])

In [163]:
df.Alcoholism.unique()

array([0, 1])

In [164]:
df.Handcap.unique()

array([0, 1, 2, 3, 4])

In [165]:
df.SMS_received.unique()

array([0, 1])

In [166]:
(df.SMS_received.value_counts()/len(df))*100

0    67.897146
1    32.102854
Name: SMS_received, dtype: float64

In [167]:
(df.Handcap.value_counts()/len(df))*100

0    97.972423
1     1.847529
2     0.165572
3     0.011762
4     0.002714
Name: Handcap, dtype: float64

In [168]:
df.Handcap.replace({2:1,3:1,4:1},inplace=True)
df.Handcap.unique()

array([0, 1])

In [169]:
df = df.rename(columns={'Hipertension': 'Hypertension', 'Handcap': 'Handicap', 'No-show': 'Show'})
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hypertension',
       'Diabetes', 'Alcoholism', 'Handicap', 'SMS_received', 'Show'],
      dtype='object')

In [170]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [171]:
df.Show.replace({'No': 'Yes', 'Yes' : 'No'}, inplace= True)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,Yes
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,Yes
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,Yes
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,Yes
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,Yes

In [172]:
df['DaysLate'] = (df.AppointmentDay - df.ScheduledDay).dt.days 
df.head(1)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Show,DaysLate
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,Yes,0

In [173]:
df.DaysLate.min()

-6

In [174]:
df.query('DaysLate <= 0 & Show == "No"')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Show,DaysLate
145,23737169521953,5639602,M,2016-04-29,2016-04-29,17,ITARARÉ,0,0,0,0,0,0,No,0
212,426698361512188,5642059,M,2016-04-29,2016-04-29,62,SANTOS DUMONT,0,1,1,0,0,0,No,0
250,294272259913644,5640181,M,2016-04-29,2016-04-29,0,CARATOÍRA,0,0,0,0,0,0,No,0
251,653745118443,5640178,F,2016-04-29,2016-04-29,33,CARATOÍRA,1,0,0,0,0,0,No,0
440,83662492819854,5639495,F,2016-04-29,2016-04-29,25,SÃO BENEDITO,1,0,0,0,0,0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109204,151827276165999,5770944,M,2016-06-03,2016-06-03,24,CONQUISTA,0,0,0,1,0,0,No,0
109603,75223983419833,5766961,F,2016-06-02,2016-06-02,42,JESUS DE NAZARETH,1,1,0,0,0,0,No,0
109856,123123243618,5765114,F,2016-06-02,2016-06-02,69,JARDIM DA PENHA,0,0,0,0,0,0,No,0
109997,798756986275976,5771303,F,2016-06-03,2016-06-03,23,GRANDE VITÓRIA,1,0,0,0,0,0,No,0
110492,645634214296344,5786741,M,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,No,0

In [177]:
df['Show'] = df.query('DaysLate <= 0 and Show=="No"').replace({'No':'Yes'},inplace=True)
df.query('DaysLate <= 0 and Show=="No"')

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hypertension, Diabetes, Alcoholism, Handicap, SMS_received, Show, DaysLate]
Index: []

In [179]:
df.query('DaysLate > 0 and Show=="Yes"')

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hypertension, Diabetes, Alcoholism, Handicap, SMS_received, Show, DaysLate]
Index: []

In [182]:
df.duplicated().sum()

0